@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <h2 class="col-md-3 text-center">
            @Model.TotalSalesInvoices Sales Invoices
        </h2>
        <h2 class="col-md-3 text-center">
            @Model.TotalCustomers Customers
        </h2>
        <h2 class="col-md-3 text-center">
            @Model.TotalItems Items
        </h2>
        <h2 class="col-md-3 text-center">
            @Model.TotalDrivers Drivers
        </h2>
    </div>
</div>
