@model IEnumerable<SalesInvoiceServiceModel>


@{
    ViewBag.Title = "All Sales Invoices";
    ViewBag.AllowSalesInvoiceEdit = true;
}

<partial name="_SalesInvoicesPartial" model="@Model" />

@{
    if (!Model.Any())
    {
        <h2 class="text-center">You have no sales invoices yet!</h2>
    }
}