@model RouteDetailsServiceModel

@{
    ViewBag.Title = "Route details";
}

<h1 class="heading-margin text-center">@Model.Code route</h1>

<div class="container col-6">
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Customers:</td>
                <td>
                    <table class="table table-bordered">
                        @foreach (var customer in Model.Customers)
                        {
                            <tr>
                                <td>@customer.Name</td>
                            </tr>
                        }
                    </table>
                </td>
            </tbody>
    </table>
</div>


